.sk-title,
.sk-joblist-heading,
.sk-type,
.sk-salary,
.sk-deadline,
.sk-button,
.sk-button:hover {
  background-color: #444444;
  animation: pulse 1.5s ease-in-out infinite;
}

.sk-joblist-heading {
  color: #444;
  border-radius: 5px;
}

.lws-single-job .sk-title,
.lws-single-job .sk-type,
.lws-single-job .sk-salary,
.lws-single-job .sk-deadline {
  -webkit-user-select: none;
  user-select: none;

  color: #444;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 10px;
  cursor: default;
  max-width: max-content;
}

.sk-button,
.sk-button:hover {
  -webkit-user-select: none;
  user-select: none;

  cursor: default;
  color: transparent;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
